body {
  background-color: #f7f7f7;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #ffffff !important;
}

.hero {
  background: url("../images/960x300.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.products {
  padding: 50px 0;
}

.product-card {
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.lead-form {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
